{% extends "base_wt.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<main role="main">

          <section id="register" class="bg-light py-5">

                <div class="container">

                  <div class="row">
                    <div class="col-md-6 mx-auto">
                      <div class="card">
                        <div class="card-header bg-primary text-white">
                          <h4>
                            <i class="fas fa-user-plus"></i> Password reset</h4>
                        </div>
                        <div class="card-body">

                            {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}

                            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" class="btn btn-secondary btn-block" value="{% trans 'Reset My Password' %}" />
                            </form>
                            <br>

                            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                        {% endblock %}
                        </div>
                    </div>
                  </div>
                </>
          </section>
</main>
