{% extends "base_wt.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<br>
<br>
<main role="main">

          <section id="pass_chng" class="bg-light py-5">

                <div class="container">

                  <div class="row">
                    <div class="col-md-6 mx-auto">
                      <div class="card">
                        <div class="card-header bg-primary text-white">
                          <h4>
                            <i class="fas fa-user-plus"></i> Change Password</h4>
                        </div>
                        <div class="card-body">



                            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-secondary btn-block" name="action">{% trans "Change Password" %}</button>
                                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                            </form>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </section>
</main>
{% endblock %}
