{% extends "base_wt.html" %}



{% block title %} | Verify Your E-mail Address {% endblock %}
{% block content %}

<main role="main">
        <div class="container">
            <h1 class="text-center pt-5">Verify Your E-mail Address</h1>
        </div>
        <br>
        <br>
          <section id="register">
                <div class="container">
                    <div class="container">
                        <h4>We have sent an e-mail to you for verification. Follow the link provided to finalize the
                            signup process. Please contact us if you do not receive it within a few minutes.</h4>
                    </div>

                </div>
          </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</main>
{% endblock%}